body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover {
    background-color: purple;
}


#box2{
    width: 25vw;
    height: 20vh;
    position: relative;
    background-color: red;
    animation-duration: 5s;
    animation-name: box2move;
    animation-iteration-count: infinite;
}

@keyframes box2move{
    from {left: 0; top: 0;}
    20% {background-color: orange;}
    30% {background-color: yellow;} 
    45% {left: 37vw; top: 55vh;}
    45% {background-color: green;}
    60% {background-color: blue;}
    to {background-color: purple; left: 74vw; top: 0vh;}
}