body{
    background-color: #1E5C3A;
    color: white;
}

.intro {
    margin: 5%;
    border: 15px dotted black;
    padding: 5%;
    width: 30%;
    text-align: left;
    font-size: 3vh;
}

.game {
    position: absolute;
    margin: 5%;
    left: 50%;
    top: 5%;
    border: 15px dotted red;
    padding: 5%;
    width: 20%;
    text-align: left;
    font-size: 5vh;
}

input[type="button"] {
    background-color: white;
    border: groove;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
}

input[type="button"]:hover{
    border-color: red;
    border-radius: 15;
}